
<mat-drawer-container class="menu-container">
    <mat-toolbar>
        <span>My Application</span>
      </mat-toolbar>
    <mat-drawer mode="side" over #menu opened>

        Cadastro de Empresas

        <ul>
          <li>
            <a [routerLink]="['/cadastro-empresa']" routerLinkActive="router-link-active" >Cadastrar Empresa</a>
          </li>
          <li>
            <a [routerLink]="['/lista-empresa']" routerLinkActive="router-link-active" >Empresas Cadastradas</a>
          </li>
        </ul>

      </mat-drawer>
      <button mat-icon-button (click)="menu.toggle()"><mat-icon>mail</mat-icon></button>
      <router-outlet></router-outlet>


      <mat-card-footer >
          <span>My Application</span>
        </mat-card-footer>
      </mat-drawer-container>
